name: Generate Pacman

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate Pacman animation
        uses: Platane/snk@v3
        with:
          github_user_name: mhmdtmrsid-lab
          outputs: |
            dist/pacman.svg?palette=github-dark&color_snake=#FFD700

      - name: Publish animation
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: output
          publish_dir: dist
